HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/venv
/old_venv
/clean
/logs
/node_modules

# .env
.env.exemple
/scripts
.venv/

/frontend-angular/node_modules
/frontend-angular

/logs
/LOG_PATH_IS_UNDEFINED
/__pycache__
/ai-service/__pycache__
/document
/docker
/data
/ai-service/data
lotodb_backup.sql
lotodb_data.sql
/reports
/reports/*
/local_speed_audit

npm_readme.md
sonar.sh
test_sonar.md
test_front.sh
*.zip

users_mongo.sh
